
table {
    border-collapse: collapse !important;
    border-spacing: 0  !important;
}
.main-title {
    color: rgb(26, 115, 232);
    size: 18px;
    font-weight: bold;
    margin: 16px 0px 16px 12px;
    text-align: left;
}

.mr-8-px {
    margin-right: 8px
}

.w-1\/2 {
    width: 50%;
}
.w-1\/3 {
    width: 30%;
}
.w-2\/3 {
    width: 70%;
}

.w-1 {
    flex-grow: 1;
}

.p-24-px {
    padding: 24px;
}

.m-24-px {
    margin: 24px;
}

.mr-20-px {
    margin-right: 20px;
}

.h-content {
    height: calc(100vh - 96px);
}

.h-map {
    height:100%
}

.w-full {
    width: 100%;
}

.w-200-px {
    width: 200px;
}

.w-408-px {
    width: 408px;
}

.mb-12-px {
    margin-bottom: 12px;
}

.p-12-px {
    padding: 12px;
}

.t-button-wrap {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.wrap_content {
    background: #E7EEEA;
    // width: calc(100vw - 200px);
    .t-content {
        width: 100%;
        background: white;
        display: flex;
        .left-content {
            width: 45%;
        }
        .right-content {
            flex-grow: 1;
        }
    }
    .list-content {
        width: 100%;
        background: white;
    }
    .row,.flex {
        display: flex;
    }
}
// table {
//   border-collapse: collapse!important;
// }

// table, th, td {
//   border: 1px solid #c1c1c1 !important;
// }
.flex{
    display: flex;
}
.mr-12-px{
    margin-right: 12px;
}

.info-detail {
  font-size: 12px;
  .title-lable {
      white-space: nowrap;
    font-weight: bold;
    text-align: left;
  }
  .row-content {
    padding-left: 12px;
    font-style: italic;
    text-align: left;
  }
  .special-title {
  }
  .step-direction {
    margin-left: 32px;
  }
  // .step-content-icon {
  //   background: url("@/assets/pin.png");
  // }
  .step-content-icon {
    height: 24px;
    width: 24px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .step-content {
    font-style: normal;
  }
  .emphase {
    font-weight: bold;
  }
}

.con-select.autocompletex.activeOptions input{
   border: 1px solid rgb(26, 115, 232);
  outline: none;
}

.vs-table--thead  th {
    font-weight: bold!important;
    padding: 6px 10px;
    padding-top: 5px!important;
    padding-bottom: 8px!important;
    border: 0;
    text-align: left;
    font-size: .85rem;
}

.vs-table--thead {
    border-bottom: 1px solid #212121;
}

.vs-table.vs-table--tbody-table tr:nth-child(even){
    background: #ebebeb;

}
.vs-table.vs-table--tbody-table tr:not(:first-child):nth-child(odd){
    background: #ebebeb17;

}

// .vs-table.vs-table--tbody-table tr:nth-last-child(2n){
//     border-top: 1px solid rgb(26, 115, 232);
// }

.vs-con-textarea{
    margin-bottom: 0px !important;
}
.flex-1{
    flex-grow: 1;
}

.icon-feature{
   
    // position: absolute;
    // right: 10px;
    // top:10px;
    margin-right: 32px;
    color:rgb(56, 118, 201)
}
.icon-feature-detail{
    margin:8px;
    cursor: pointer;
}
.align-left{
    white-space: nowrap;
    text-align: left;
}
.align-center{
    text-align: center;
}
.align-right{
    text-align: right;
}
.w-120-px div{
    width: 120px!important;
}
.w-130-px {
    width:130px;
}
.w-150-px div{
    width: 150px!important;
}
.w-200-px div{
    width: 200px!important;
}
.w-250-px div{
    width: 250px!important;
}
.w-300-px div{

    width: 300px!important;
}
.wrap-table{
        width: 100%;
    height: 390px;
    overflow: auto;
}
.font-warning{
    color: #31B131;
    margin-right: 12px;
    font-size: 18px;;
}
.wrap-font-warning{
    font-size: 12px;
    font-style: italic;
    color: #212121;
    font-weight: normal;
    display: flex;
    align-items: center;
}
.lable-page{
    margin-right: 16px;
    margin-top: 8px;
}
.active-page{
    background:#4285f4;
    color: white;
}
.disabled-button{
    opacity: 0.4;
}
 .custom-style{
     
     align-items: center;
 }

 .t-date-wrap{
     font-weight: normal;
     color: #212121;
 }
 .class-load{
        background: 0;
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-image: url(/img/load.29629ede.png);
    background-repeat: no-repeat;
       cursor: pointer;
 }

 footer {
    padding: 16px;
}
footer button.vs-component.vs-button.vs-button-null.vs-button-filled{
    margin-right: 12px;
}

.vuesax-app-is-ltr .con-vs-dialog .vs-dialog header span.after {
    display: none;
}


.loader {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 52px;
  height: 52px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  position: absolute;
  top: 40%;
left: 50%;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}