<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="datatable.css">
</head>

<body>

    <div class="scrollingtable">
        <div>
            <div>

                <table id="example" class="display nowrap dataTable dtr-inline collapsed" style="width: 100%;"
                    role="grid" aria-describedby="example_info">
                    <thead>
                        <tr role="row">
                            <th label="Name" class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                                colspan="1" style="width: 105px;" aria-sort="ascending"
                                aria-label="Name: activate to sort column descending">
                                Name

                            </th>
                            <th label="Position" class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                colspan="1" style="width: 170px;"
                                aria-label="Position: activate to sort column ascending">Position
                            </th>
                            <th label="Office" class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                colspan="1" style="width: 77px;" aria-label="Office: activate to sort column ascending">
                                Office</th>
                            <th label='Age' class="dt-body-right sorting" tabindex="0" aria-controls="example"
                                rowspan="1" colspan="1" style="width: 28px;"
                                aria-label="Age: activate to sort column ascending">Age
                            </th>
                            <th label='Start date' class="sorting" tabindex="0" aria-controls="example" rowspan="1"
                                colspan="1" style="width: 67px; display: none;"
                                aria-label="Start date: activate to sort column ascending"></th>
                            <th label='Salary' class="dt-body-right sorting" tabindex="0" aria-controls="example"
                                rowspan="1" colspan="1" style="width: 0px; display: none;"
                                aria-label="Salary: activate to sort column ascending">Salary
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr role="row" class="odd">
                            <td tabindex="0" class="sorting_1">Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td class=" dt-body-right">33</td>
                            <td style="display: none;">2008/11/28</td>
                            <td class=" dt-body-right" style="display: none;">$162,700</td>
                        </tr>
                        <tr role="row" class="even">
                            <td class="sorting_1" tabindex="0">Angelica Ramos</td>
                            <td>Chief Executive Officer (CEO)</td>
                            <td>London</td>
                            <td class=" dt-body-right">47</td>
                            <td style="display: none;">2009/10/09</td>
                            <td class=" dt-body-right" style="display: none;">$1,200,000</td>
                        </tr>
                        <tr role="row" class="odd parent">
                            <td tabindex="0" class="sorting_1" style="">Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td class=" dt-body-right">66</td>
                            <td style="display: none;">2009/01/12</td>
                            <td class=" dt-body-right" style="display: none;">$86,000</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="2" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="2" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2009/01/12</span></li>
                                    <li data-dtr-index="5" data-dt-row="2" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$86,000</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="even parent">
                            <td class="sorting_1" tabindex="0" style="">Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td class=" dt-body-right">41</td>
                            <td style="display: none;">2012/10/13</td>
                            <td class=" dt-body-right" style="display: none;">$132,000</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="18" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="18" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2012/10/13</span></li>
                                    <li data-dtr-index="5" data-dt-row="18" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$132,000</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="odd parent">
                            <td class="sorting_1" tabindex="0" style="">Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td class=" dt-body-right">28</td>
                            <td style="display: none;">2011/06/07</td>
                            <td class=" dt-body-right" style="display: none;">$206,850</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="27" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="27" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2011/06/07</span></li>
                                    <li data-dtr-index="5" data-dt-row="27" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$206,850</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="even parent">
                            <td tabindex="0" class="sorting_1" style="">Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td class=" dt-body-right">61</td>
                            <td style="display: none;">2012/12/02</td>
                            <td class=" dt-body-right" style="display: none;">$372,000</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="5" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="5" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2012/12/02</span></li>
                                    <li data-dtr-index="5" data-dt-row="5" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$372,000</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="odd parent">
                            <td class="sorting_1" tabindex="0" style="">Bruno Nash</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td class=" dt-body-right">38</td>
                            <td style="display: none;">2011/05/03</td>
                            <td class=" dt-body-right" style="display: none;">$163,500</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="42" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="42" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2011/05/03</span></li>
                                    <li data-dtr-index="5" data-dt-row="42" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$163,500</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="even parent">
                            <td class="sorting_1" tabindex="0" style="">Caesar Vance</td>
                            <td>Pre-Sales Support</td>
                            <td>New York</td>
                            <td class=" dt-body-right">21</td>
                            <td style="display: none;">2011/12/12</td>
                            <td class=" dt-body-right" style="display: none;">$106,450</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="22" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="22" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2011/12/12</span></li>
                                    <li data-dtr-index="5" data-dt-row="22" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$106,450</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="odd parent">
                            <td class="sorting_1" tabindex="0" style="">Cara Stevens</td>
                            <td>Sales Assistant</td>
                            <td>New York</td>
                            <td class=" dt-body-right">46</td>
                            <td style="display: none;">2011/12/06</td>
                            <td class=" dt-body-right" style="display: none;">$145,600</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="50" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="50" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2011/12/06</span></li>
                                    <li data-dtr-index="5" data-dt-row="50" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$145,600</span></li>
                                </ul>
                            </td>
                        </tr>
                        <tr role="row" class="even parent">
                            <td tabindex="0" class="sorting_1" style="">Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td class=" dt-body-right">22</td>
                            <td style="display: none;">2012/03/29</td>
                            <td class=" dt-body-right" style="display: none;">$433,060</td>
                        </tr>
                        <tr class="child">
                            <td class="child" colspan="4">
                                <ul data-dtr-index="3" class="dtr-details">
                                    <li data-dtr-index="4" data-dt-row="3" data-dt-column="4"><span
                                            class="dtr-title">Start
                                            date</span>
                                        <span class="dtr-data">2012/03/29</span></li>
                                    <li data-dtr-index="5" data-dt-row="3" data-dt-column="5"><span
                                            class="dtr-title">Salary</span>
                                        <span class="dtr-data">$433,060</span></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>